
#message-import {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    position: relative;
}

#message-import .module {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-bottom: 30px;
}

#message-import .module h2 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #eaeaea;
    color: #333;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 16px;
    font-weight: 400;
}

#message-import h3 {
    color: #666;
    font-size: 14px;
    margin: 0 0 16px;
    padding: 0 16px;
}
