{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'timelines/css/style.css' %}" />
{% endblock %}
{% block extrahead %}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; 
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo;
Get new messages to a timeline from a local 'mbox' or 'maildir'

  </div>
{% endblock %}

{% block content %}
  <h1>{{ timeline.title }}</h1>
  <div id="message-import">
    <div class="module">
      <h2>Messages</h2>
      <h3>Mailbox:&nbsp;{{ timeline.dropbox }}</h3>
      <h3>New messages:&nbsp;{{ num_of_new_messages }}</h3>
    </div>
  </div>
{% endblock %}
